<ion-view title="Play">
    <ion-content class="padding">
        <div class="list card">

            <div class="item item-avatar">
                <h1>{{name}}</h1>
            </div>
            <div class="item item-body">
                <div class="item item-image">
                    <div class="container slider">
                        <img ng-repeat="slide in slides" class="slide slide-animation" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
                        
                         <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
    <a class="arrow next" href="#" ng-click="prevSlide()"></a>
                        <nav class="nav">
                            <div class="wrapper">
                                <ul class="dots">
                                    <li class="dot" ng-repeat="slide in slides">
                                        <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" 
                                           ng-click = "setCurrentSlideIndex($index);">{{slide.description}}</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div id="task">
                        {{task}}
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>