.imgCropSpace {
    width: 400px;
    height: 400px; 
    overflow: hidden;
}

.scroll {
    height: 100%;
    width: 100%;
}

.imageHolder {
    height: 50%;
    width: 100%;
}



.imageHolder > img {
     text-align: center;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}