.imgCropSpace {
    width: 400px;
    height: 400px; 
    overflow: hidden;
}

.imageHolder {
    height: 50%;
    width: 100%;
}

.imageHolder > img {
    height: 100%;
     text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}