.imgCropSpace {
    width: 400px;
    height: 400px; 
    overflow: hidden;
}

#profilePicture{
  height: 100%;
    width: 100%;
}

img{
    height: 100%;
    width: 100%;
}

i{
    font-size: 20em;  
}