
h2 {

  text-align: center;

}

.scroll {

  width: 95%;

  height: 95% !important;

}

.card {

  width: 95% !important;

  height: 97% !important;

}

#name {

  height: 10% !important;

  width: auto;

}

#userPic {

  height: 50% !important;

  width: auto;

}

.ion-slide {

  height: 50% !important;

  width: auto;

}

#task {

  height: 30% !important;

  width: auto;

}

#icons {

  height: 10% !important;

  width: auto;

}

ul {

  list-style: disc !important;

}

li {

  list-style-type: disc!important;

  margin-left: 30px !important;

  margin-bottom: 10px;

  margin-top: 10px;

}

.slider {

  height: 40%;

}
