
.scroll {

  height: 100% !important;

}

.card {

  width: 100% !important;

  height: 95% !important;

}

#name {

  height: 10% !important;

  width: auto;

}

#userPic {

  height: 50% !important;

  width: auto;

}

.ion-slide {

  height: 50% !important;

  width: auto;

}

img {

  max-height: 50%;

}

#task {

  height: 30% !important;

  width: auto;

}

#icons {

  height: 10% !important;

  width: auto;

}
