<ion-view title="Feedback">
    <ion-content class="padding">
        <div class="card">
            <h2>Rate your last game</h2>
            <h5>There is an not yet rated game with <b>{{ratedName}}</b>. Please provide feedback:</h5>
            <div class="item item-divider"></div>
            <div ng-show="showChoice">
                <div class="row">
                    <div class="col col-50">Did <b>{{ratedName}}</b> contact you?</div>
                    <div class="col col-25">
                        <button class="button button-balanced" ng-click="contacted()">Yes</button>
                    </div>
                    <div class="col col-25">
                        <button class="button button-assertive" ng-click="notContacted()">No</button>
                    </div>
                </div>
            </div>
            <div ng-show="showForm">
                <div class="row">
                    <div class="col col-50">Was the profile picture up to date?</div>
                    <div class="col col-50">
                        <span ng-repeat="star in starsQuestion2">
                            <i class="{{star.icon}}" ng-click="{{star.action}}"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">How did you like the contact at all?</div>
                    <div class="col col-50">
                        <span ng-repeat="star in starsQuestion3">
                            <i class="{{star.icon}}" ng-click="{{star.action}}"></i>
                        </span>
                    </div>
                </div>
                <button class="button button-full button-positive" ng-click="evaluate()" ng-disabled="enableSubmit()">
                    Submit Rating
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
