<ion-view title="Feedback">
    <ion-content class="padding">
        <div class="card">
            <h2>Rate your last game</h2>
            <span ng-show="severalFeedbacks">
                There are {{notRatedGames}} feedbacks to commit.
            </span>
            <span ng-show="singleFeedback">
                There is 1 feedback to commit.
            </span>
            <br>
            <h5>How did you like the game with <b>{{ratedName}}</b>?. Please provide feedback:</h5>
            <br>
            <div class="item item-divider"></div>
            <br>
            <div ng-show="showChoice">
                <div class="row">
                    <div class="col col-50">Was there a contact with <b>{{ratedName}}</b>?</div>
                    <div class="col col-25">
                        <button class="button button-balanced" ng-click="contacted()">Yes</button>
                    </div>
                    <div class="col col-25">
                        <button class="button button-assertive" ng-click="notContacted()">No</button>
                    </div>
                </div>
            </div>
            <div ng-show="showForm">
                Was the profile picture up to date?
                <br>
                <p>
                    <center>
                        <span ng-repeat="star in starsQuestion2">
                        <img ng-src="img/{{star.icon}}.png" ng-click="{{star.action}}">
                    </span>
                    </center>
                </p>
                <br>
                <div class="item item-divider"></div>
                <br>How did you like the contact at all?
                <br>
                <p>
                    <center>
                        <span ng-repeat="star in starsQuestion3">
                        <img ng-src="img/{{star.icon}}.png" ng-click="{{star.action}}">
                    </span>
                    </center>
                </p>
                <br>
                <div class="item item-divider"></div>
                <br>
                <ion-toggle ng-model="userChoiceContact.mode" ng-change="changeUserChoiceContact()">
                    Stay in touch with<br>{{ratedName}}?
                </ion-toggle>
                <button class="button button-full button-positive" ng-click="evaluate()" ng-disabled="enableSubmit(0)">
                    {{submitButtonText}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
