<ion-view title="Login" hide-nav-bar="true">
    <div class="full">
        <div class="box">
            <h1>Login</h1>
            <form name="loginForm" id="loginForm" novalidate>
                <label class="item item-input">
                    <input name="name" class="name" type="text" placeholder="E-Mail" ng-model="EMail" required>
                </label>
                <label class="item item-input">
                    <input name="password" class="email" type="password" placeholder="Password" ng-model="password" required>
                </label>
                <button class="button button-balanced" ng-click="submit()" type="submit">Login</button>
            </form>
            <p>
                Not a member?
                <a href="#/registration">
                    <button class="button button-positive">
                        Sign Up!
                    </button>
                </a>
            </p>
            <p>
                <span style="color:white" ng-hide="LoginFailed">
                            <span>The login has failed.</span>
                </span>
            </p>
        </div>
    </div>
</ion-view>