<ion-view title="map" name="map">
  <ion-content>
    <div id="content">
      <div id="position"></div>
      <div id="distance">
      </div>
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker
            idKey= '1'
            coords = 'myPosition'
            options= '{title: "You",
                      labelContent: "You"}'
           >
        <ui-gmap-marker
            idKey= '2'
            coords = 'teammatePosition'
            options= '{title: "Other Player",
                       labelContent: "Other Player"}'
        >
      </ui-gmap-google-map>
    </div>
  </ion-content>
</ion-view>

