<ion-view title="Your Photos">
    <ion-nav-buttons side="right">
  <button class="button button-clear icon icon-left ion-plus-circled" ui-sref="tab.pictureTaker"></button>
 </ion-nav-buttons>
    <ion-content>
        <div id="gallery" ng-if="userHasPictures==true">
            <ion-scroll direction="x" class="wide-as-needed">
                <div class="image-list"><img ng-repeat="img in images" ng-src="{{img}}" ng-click="setHero(img)"></div></ion-scroll>
    <div class="hero-image"><img ng-src="{{selection}}"></div>
            <button class="button button-full button-positive">Delete Photo</button>
  </div>    
    <div ng-if="userHasPictures==false">You currently have no Pictures. Press the Plus in the upper right corner to load pictures for your profile</div>
        
    </ion-content>
</ion-view>