<ion-view title="New Photo">
    <ion-content class="padding">

   
<button class='button button-positive' ng-click="getCameraPhoto()">
            Take Photo
          </button> 
        <button class= 'button button-positive' ng-click="getAlbumPhoto()">Load Photo From Gallery</button>
<img ng-src='{{userImage}}' ng-if='hasPicture'></img>      
<img ng-src='{{croppedUserImage}}' ng-if='hasPicture'></img>          
<div class="imgCropSpace" ng-if='isCurrentlyCropping'>
    <img-crop image="userImage"
                area-type="square"
                result-image="croppedUserImage"
                result-image-size="360"></img-crop>
</div> 
<button class='button button-positive' ng-if='hasPicture' ng-click='startCropping()'>
            Crop Image
          </button> 
    <button class='button button-positive' ng-if='isCurrentlyCropping' ng-click='endCropping()'>
            Crop
          </button> 
    <button class='button button-positive' ng-if='hasPicture'>
            Save Image
          </button> 
<button class='button button-positive' ng-if='hasPicture'>
            Discard Image
          </button> 
        
    </ion-content>
</ion-view>