<ion-view title="Photos">
    <ion-content class="padding">
<div class="imgCropSpace">
    <img id="profilePicture" ng-src="{{cameraPic}}" ng-if="hasPicture">
    <i class="icon profilePicture ion-plus-circled" ng-if="hasPicture==false"></i>
</div>          
       {{errormessage}}
          <button class='button button-positive' ng-click="getCameraPhoto()">
            Take Photo
          </button> 
    <button class= 'button button-positive' ng-click="getLibraryPhoto()">Load Photo From Library</button>
        <button class= 'button button-positive' ng-click="getAlbumPhoto()">Load Photo From Gallery</button>
      
    </ion-content>
</ion-view>