<ion-view>
    <ion-content class="padding">
        <span ng-show="showWarningMessagePopup" style="color:black">There are no players you could chat with</span>
        <div ng-show="showListMessagePopup">
            <div class="list">
                <span ng-repeat="contact in chatPartner">
                <div class="item item-button-right">
                    {{contact.username}}
                    <button class="button button-positive" ng-click="getPopupMessage(contact)">
                        +25
                    </button>
                </div>
            </span>
            </div>
            <br>
            <span ng-show="purchaseSuccess">
            Purchase was successfull
        </span>
        </div>
        <button class="button button-positive button-full" ng-click="doneButton()">Done</button>
    </ion-content>
</ion-view>