<ion-view title="Registration">
    <div class="vid-container">
        <video id="Video1" class="bgvid back" autoplay="false" muted="muted" preload="auto" loop>
            <source src="../Video/App_Intro_MA.mp4" type="video/mp4">
        </video>
        <div class="inner-container">
            <video id="Video2" class="bgvid inner" autoplay="false" muted="muted" preload="auto" loop>
                <source src="../Video/App_Intro_MA.mp4" type="video/mp4">
            </video>
            <div class="box">
                <form ng-controller="regCtrl" name="regForm" ng-click="submit()" class="regForm" novalidate>
                    <h1>Registration</h1>
                    <p>
                        <input type="text" id="user" ng-model="user" placeholder="Enter user name" ng-minlength="5" required>
                        <br>
                        <span style="color:white" ng-show="showWarningUser">
                            <span>User name needs at least 5 characters</span>
                        </span>
                    </p>
                    <p>
                        <input type="password" id="password1" ng-model="password1" placeholder="Enter a password" ng-minlength="5" required>
                        <br>
                        <span style="color:white" ng-show="showWarningPW1">
                            <span>Password needs at least 5 characters</span>
                        </span>
                    </p>
                    <p>
                        <input type="password" id="password2" ng-model="password2" placeholder="Repeat password" required>
                        <br>
                        <span style="color:white" ng-show="showWarningPW2">
                            <span>Passwords are not identical</span>
                        </span>
                    </p>
                    <p>
                        <input type="email" id="EMail" ng-model="EMail" placeholder="Enter E-Mail address" ng-minlength="5" required>
                        <br>
                        <span style="color:white" ng-show="showWarningEMail">
                            <span>This is no valid E-Mail</span>
                        </span>
                    </p>
                    <br>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</ion-view>


<link rel="stylesheet" type="text/css" href="../styles/registration.css">
<link rel="stylesheet" type="text/css" href="../styles/videoAdjustment.css">