<ion-view title="Who-U">
    <ion-content class="padding">

        <a class="item item-thumbnail-left" ui-sref="tab.photos">
            <img ng-src="{{profilePicture}}">
            <h2>{{userName}}</h2>
            <p>Points: {{coins}}</p>
        </a>
        <button ng-click="click()" class="button button-full button-positive" ng-disabled="disableSearch()">
            <i class='{{buttonType}}'></i>{{text}}
        </button>

        <ion-scroll direction='y' style="height: 500px">
            <ul class="animate-repeat" ng-repeat="entry in events">
                <li ng-if="entry.type == 'message'">
                    <div class="item item-avatar">
                        <img src="img/cover.png">
                        <h2>Message from {{entry.from}}</h2>
                        <p>{{entry.message}}</p>
                    </div>
                </li>

                <li ng-if="entry.type == 'played'">
                    <div class="item item-avatar">
                        <img src="img/cover.png">
                        <h2>Played with {{entry.user}}</h2>
                        <p>{{entry.date | date : 'MMMM dd, yyyy'}}</p>
                    </div>
                </li>
            </ul>
        </ion-scroll>

    </ion-content>
</ion-view>
