<ion-view title="Settings">
    <ion-content class="padding">
        <div class="list">
            <ion-toggle ng-model="visibleStatus.mode" ng-change="changeVisibility()">
                Visible for other players
            </ion-toggle>
            <ion-toggle ng-model="pushNotificationsStatus.mode" ng-change="changePushNotifications()">
                Allow push notifications
            </ion-toggle>
            <ion-toggle ng-model="loadJustOneImage.mode" ng-change="changeLoadJustOneImage()">
                Reduce data during games
            </ion-toggle>
        </div>
        <div class="item item-divider"></div>
        <br>
        <center>
            <button class="button button button-full button-positive" ng-click="logout()">Logout</button>
        </center>
        </ion-list>
    </ion-content>
</ion-view>
