<ion-view title="Coins">
    <ion-content>
        <div class="row">
            <div class="col col-75">Your current score is:</div>
            <div class="col">{{coins}}</div>
        </div>
        <hr>
        <ul class="benefits">
            <div class="card">
                <li ng-repeat="benefit in benefits">
                    <div class="item item-text-wrap">
                        <div class="row">
                            <div class="col col-75">
                                <div class="item item-divider">
                                    <b>{{benefit.name}}</b>
                                </div>
                                <br>{{benefit.description}}
                            </div>
                            <div class="col">
                                <button class="button button-positive" ng-click="buy(benefit.id)">Buy ({{benefit.price}} coins)</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </li>
            </div>
        </ul>
    </ion-content>
</ion-view>