<ion-view title="Settings">
    <ion-content>
        <div class="row">
            <div class="col col-75">Bild</div>
            <div class="col">Anzeigename</div>
        </div>
        <div class="item item-divider"></div>
        <div class="list">
            <ion-toggle ng-model="visibleStatus.mode" ng-change="changeVisibility()">
                Become invisible
            </ion-toggle>
        </div>
        <div class="item item-divider"></div>
        <br>
        <center>
            <button class="button button-assertive" ng-click="logout()">Logout</button>
        </center>
        </ion-list>
    </ion-content>
</ion-view>
