<ion-view title="Coins">
    <ion-content class="padding">
        <div class=" row ">
            <div class="col col-50">Your current score is:</div>
            <div class="col col-50">
                <b>{{coins}} Coins</b>
            </div>
        </div>
        <div class="item item-divider "></div>
        <ul class="benefits ">
            <div class="card ">
                <li ng-repeat="benefit in benefits | orderBy:orderProp">
                    <div class="item item-text-wrap ">
                        <div class="row ">
                            <b>{{benefit.name}}</b>
                        </div>
                        <div class="row">
                            {{benefit.description}}
                        </div>
                        <br>
                        <div class="row">
                            <button class="button button-full button-positive" ng-click="buy(benefit.id)" ng-disabled="checkBudget(benefit.price)">
                                Buy ({{benefit.price}} coins)
                            </button>
                        </div>
                    </div>
                    <br>
                </li>
            </div>
        </ul>
        <div class="item item-divider "></div>
        <center>
            <br>
            <button class="button button-full button-positive ">Buy 40 more coins for €2,99</button>
        </center>
    </ion-content>
</ion-view>