<ion-view title="Chat">
    <ion-content class="padding">

        <i class="list" ng-repeat="partner in chatPartner">
            <i class="item item-avatar" ng-click="clicked({{partner}})">
                <img src="img/cover.png">
                <h2>{{partner.name}}</h2>
                <p ng-if="partner.message.length<=40">{{partner.message}}</p>
                <p ng-if="partner.message.length>40">{{partner.message.substring(0,40)}}...</p>
            </i>


    </ion-content>
</ion-view>
