<ion-view title="Who-U">
    <ion-content class="padding">

        <a class="item item-thumbnail-left" href="#">
            <img src="img/cover.png">
            <h2>{{username}}</h2>
            <p>Points: {{points}}</p>
        </a>

        <button ng-click="click()" class="button button-full button-light" ng-disabled="buttonDisable">
            <i class="{{buttonType}}"></i> Search
        </button>
        <ul class="animate-repeat" ng-repeat="entry in news">

            <li ng-if="entry.typ == 'message'">[{{$index + 1}}]. <b>{{entry.from}}: </b> {{entry.title}}</li>
            <li ng-if="entry.typ == 'played'">[{{$index + 1}}]. {{entry.date}}: Played with {{entry.person}}</li>



        </ul>

        <br>
    </ion-content>
</ion-view>
